[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
sphinx = "*"
pytest = "*"
pytest-cov = "*"
setuptools = "*"

[packages]
disk-health-predictor = {path = "."}
importlib-metadata = "*"
numpy = "*"
scikit-learn = "<=0.21.3"

[requires]
python_version = "3.8"
